@model List<Ingeniero>
@{
    int cont = 1;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImprimirVenta</title>
    <style>
        .contenedor {
            
        }

        h1 {
            text-align: center
        }

        .imagen {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        body {
            font-family: Arial, Helvetica, sans-serif
        }

        p.title {
            font-weight: bold;
        }

        p.title2 {
            font-weight: bold;
            color: #03A99F;
            font-size: 20px;
        }

        p.text {
            font-size: 15px;
            font-weight: 100;
            color: #858585;
        }

        p {
            margin: 0px
        }

        .tbth {
            text-align: left;
        }

        table.tbproductos {
            border-collapse: separate;
            border-spacing: 4px;
        }

            table.tbproductos thead tr th {
                background-color: #03A99F;
                
                font-size: 15px;
                color: white;
            }

            table.tbproductos tbody tr td {
                
            }

        .item {
            font-size: 15px;
            font-weight: 100;
            color: #757575;
        }

        .item-2 {
            font-size: 15px;
            font-weight: bold;
            color: #757575;
        }

        .item-3 {
            font-size: 15px;
            font-weight: bold;
            background-color: #03A99F;
            color: white;
        }

        .td-item {
            border-bottom: 2px solid #E8E8E8 !important;
        }
    </style>
</head>
<body>

    <div class="contenedor">
        <table style="width:100%">
            <tr>
                <td>
                    <img class="imagen" src="~/imagenes/siboruro.jpg" style="width: 220px;" />
                </td>
            </tr>
            <tr><td align="center"><p class="title">COLEGIO DE INGENIEROS EN TECNOLOGIAS DE LA INFORMACIÓN  ORURO</p></td></tr>
            <tr><td align="center">Página web: citior.org.bo</td></tr>
            <tr><td align="center">Correo: finanzas@citior.org.bo </td></tr>
        </table>

        <h1>REPORTE DE APORTES AL DIA</h1>
        

        <hr />

        <tr>
            <td><p class="text">LISTADO DE INGENIEROS</p></td>
        </tr>
        <table class="tbproductos" style="width:100%">
            <thead>
                <tr>
                    <th class="tbth" style="width: 10%">RNI</th>
                    <th class="tbth" style="width: 30%">Nombre</th>
                    <th class="tbth" style="width: 20%">Especialidad</th>
                    <th class="tbth" style="width: 20%">CI</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="td-item"><p class="item">@item.Rni</p></td>
                            <td class="td-item"><p class="item">@item.NombreCompleto</p></td>
                            <td class="td-item"><p class="item">@item.Especialidad</p></td>
                            <td class="td-item"><p class="item">@item.Ci</p></td>
                        </tr>
                    }
                } 
            </tbody>
        </table>


        <br />

    </div>
    

</body>
</html>

