@model CITI_Oruro.Models.Cuotum

@{
    ViewData["Title"] = "Reportes";
}

<h1>Generación de Reportes</h1>

<table class="table">
     <a asp-action="ReporteDeudores" class="btn btn-success">Reporte de Deudores</a> |
    <a asp-action="ReporteAlDia" class="btn btn-primary">Reporte de Ingenieros al Dia</a>
</table>

<div class="text-center">
    <img class="imagen" src="~/imagenes/SIB.jpg" style="width: 800px;" />
</div>
