@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 >BIENVENIDO</h1>
    <h2 >COLEGIO DE INGENIEROS EN TECNOLOGIAS DE LA INFORMACIÓN  ORURO</h2>
    <h5 style="color:cadetblue">Página web: citior.org.bo</h5>
    <h5 style="color:cadetblue">Correo: finanzas@citior.org.bo</h5>
    <img class="imagen" src="~/imagenes/siboruro.jpg" style="width: 400px;" />
    
</div>
